<% include ./partials/navbar %>
    <h1>THIS IS HOME</h1>
    <div class="ui main container">
        <div class="ui three column grid">
            <% blogs.forEach(blog=>{ %>
                <div class="column">
                    <div class="ui fluid card contentWrapper">
                        <div class="ui image blogPostImgDiv">
                            <img src="<%= blog.image %>" alt="" class="homeBlogImg">
                        </div>
                        <div class="blogTextWrapper">
                            <h2>
                                <%= blog.title.substring(0, 25) %>
                            </h2>
                            <p>
                                <%= blog.content.substring(0, 100) %> ...
                            </p>
                            <span>Created :
                                <%= blog.created.toDateString() %>
                            </span>
                            <div class='readMoreButton'>
                                <a class='ui blue button basic' href="/blogs/<%= blog._id %>">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <% }) %>
        </div>
    </div>
    <% include ./partials/footer %>